@import url('blocks/text/text.css');
@import url('blocks/container/container.css');
@import url('blocks/autorization-block/autorization-block.css');
@import url('blocks/button/button.css');


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

.body {
  font-size: 1.5em;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  background-color: #60b7ab;
}

.body__header_fixed {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 500;
}

.body__header_scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100vw;
}

.outer-container {
  justify-content: center !important;
}

#submit {
  outline: none;
  border: none;
}

@media screen and (max-width: 319px) {
  .body {
    overflow-x: auto;
  }
}

@media screen and (max-width: 600px) {
  .body {
    font-size: 1.4em;
  }
}