.vert-file {
}

.vert-file_size_m {
  flex: 1 220px;
  max-width: 220px;
  height: 320px;
}

.vert-file_size_m .vert-file__content  {
  height: 100px;
}


.vert-file_theme_white {
  background-color: #fff;
}

.vert-file_theme_white .vert-file__content {
  color: #5b5b5b;
}

.vert-file_theme_white .vert-file__name {
  color: #24545b;
}

.vert-file__img {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 220px;
  cursor: pointer;
}



.vert-file__img::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.25);
  transition: background-color .2s;
  z-index: 2;
}

.vert-file:hover .vert-file__img::after {
  background-color: rgba(0,0,0, 0.05);
}

.vert-file__content {
  position: relative;
}

.vert-file__name {
  text-align: center;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
}


.vert-file__info {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
}

.vert-file__tags {
  margin-bottom: 5px;
  line-height: 1.25em;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.vert-file__tag {
  margin-right: 3px;
}

.vert-file__subinfo {
  display: flex;
  justify-content: space-between;
}

.vert-file__edit-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
  z-index: 3;
  opacity: 0;
  transition: opacity .2s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: auto;
}

.vert-file__img:hover .vert-file__edit-screen {
  opacity: 1;
}

.vert-file__edit-icon {
  height: 45px;
  cursor: pointer;
}





@media screen and (max-width: 450px) {
  .vert-file_size_m {
    max-width: 300px;
  }
}
