.outer-container {
  display: flex;
  justify-content: center;
}

.inner-container {
  flex: 1140px;
  max-width: 1140px;
}

@media screen and (max-width: 1320px) and (min-width: 1271px) {
  .outer-container {
    justify-content: flex-start;
    padding-left: 40px;
  }
}

@media screen and (max-width: 1270px) and (min-width: 1241px) {
  .outer-container {
    justify-content: flex-start;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1180px) {
  .inner-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}



@media screen and (max-width: 700px) and (min-width: 401px) {
  .inner-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}


@media screen and (max-width: 400px) {
  .inner-container {
    padding-left: 2px;
    padding-right: 2px;
  }
}