.goriz-file {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.goriz-file_theme_white {
  background-color: #fff;
  color: #2c4c48;
}

.goriz-file_theme_white .goriz-file__tags,
.goriz-file_theme_white .goriz-file__info {
  color: #5b5b5b;
}

.goriz-file_size_m {
  margin: 10px 0;
  flex: 1 560px;
  max-width: 560px;
}

.goriz-file_size_m .goriz-file__image {
  flex: 1 200px;
  /*max-width: 300px;*/
  width: 200px;
  height: 200px;
}

.goriz-file_size_m .goriz-file__body {
  /*max-width: 360px;*/
  flex: 1 360px;
  min-height: 200px;
}

.goriz-file__image {
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.goriz-file__image::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.2);
  z-index: 2;
  transition: background-color .2s;
}

.goriz-file:hover .goriz-file__image::after {
  background-color: rgba(0,0,0, 0);
}


.goriz-file__body {
  padding: 8px;
  position: relative;
}

.goriz-file__name-file {
  cursor: pointer;
  /*margin-bottom: 4px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goriz-file__file-size {
  margin-right: 10px;
}

.goriz-file__tags {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goriz-file__file-tag {
  margin-right: 4px;
}

.goriz-file__file-desc {
  padding: 4px 0 0 4px;
}

.goriz-file__file-desc-text {
  line-height: 1.25em
}


@media screen and (max-width: 1180px) {
  .goriz-file_size_m {
    flex: 1 600px;
    max-width: 800px;
  }
}