.header {
  transition: background .2s, color .2s;
}

.header_size_m {
  height: 60px;
}

.header_theme_trans {
  background-color: transparent;
  color: #fff;
}

.header_theme_white {
  background-color: #fff;
  color: #365a55;
  box-shadow: 0 0 10px rgba(0,0,0, 0.4);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_size_m .header__sitename {
  font-size: 2em;
}

.header__sitename {
  margin-top: -10px;
}

.header__but-menu {
  cursor: pointer;
  font-size: 2.5em;
  font-family: 'Times New Roman', serif;
}

.header__exit-admin {
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'sans_regular', sans-serif;
}