.page-name {
  position: relative;
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.page-name_size_m {
  height: 100vh;
  max-height: 400px;
}

.page-name::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0,0,0, 0.5);
}


.page-name__container {
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.page-name__content {
  margin-bottom: 20px;
}