.loader {
  height: 20px;
  display: flex;
}

.loader_theme_blue {
}

.loader_theme_green

.loader_size_m {
  height: 20px;
}

.loader-item {
}

.loader .loader-item:nth-last-of-type(1) {
  margin-right: 0;
}

.loader_size_m .loader-item {
  margin-right: 10px;
  height: 20px;
  width:20px;
}



.loader_theme_blue .loader-item {
  background-color: #576799;
}

.loader_theme_blue .loader-item-1 {
  -webkit-animation: load_anim_blue .6s linear 0s infinite normal;
  -o-animation: load_anim_blue .6s linear 0s infinite normal;
  animation: load_anim_blue .6s linear 0s infinite normal;
}

.loader_theme_blue .loader-item-2 {
  -webkit-animation: load_anim_blue .6s linear 0.2s infinite normal;
  -o-animation: load_anim_blue .6s linear 0.2s infinite normal;
  animation: load_anim_blue .6s linear 0.2s infinite normal;
}

.loader_theme_blue .loader-item-3 {
  -webkit-animation: load_anim_blue .6s linear 0.4s infinite normal;
  -o-animation: load_anim_blue .6s linear 0.4s infinite normal;
  animation: load_anim_blue .6s linear 0.4s infinite normal;
}





.loader_theme_green .loader-item {
  background-color: #2d7c71;
}

.loader_theme_green .loader-item-1 {
  -webkit-animation: load_anim_green .6s linear 0s infinite normal;
  -o-animation: load_anim_green .6s linear 0s infinite normal;
  animation: load_anim_green .6s linear 0s infinite normal;
}

.loader_theme_green .loader-item-2 {
  -webkit-animation: load_anim_green .6s linear 0.2s infinite normal;
  -o-animation: load_anim_green .6s linear 0.2s infinite normal;
  animation: load_anim_green .6s linear 0.2s infinite normal;
}

.loader_theme_green .loader-item-3 {
  -webkit-animation: load_anim_green .6s linear 0.4s infinite normal;
  -o-animation: load_anim_green .6s linear 0.4s infinite normal;
  animation: load_anim_green .6s linear 0.4s infinite normal;
}




















@keyframes load_anim_blue {
  0% {
    background-color: #0d162d;
  }

  100% {
    background-color: #576799;
  }
}


@keyframes load_anim_green {
  0% {
    background-color: #0b231f;
  }

  100% {
    background-color: #2d7c71;
  }
}